<table class="table">
    <tbody>
        <tr>
            <td>
                <a asp-action="CreateRole" class="btn">Create Role</a>
                <a asp-action="AddUserToRole" class="btn">Add Users To Role</a>
                <a asp-action="ViewLocations" class="btn">View Locations</a>
                <a asp-action="CreateVendor" class="btn">Create Vendor</a>
                <a asp-action="CreateLocationManager" class="btn">Create Location Manager</a>
                <a asp-action="AddVendorToLocation" class="btn">Add Vendor To Location</a>
                <a asp-action="VendorsList" class="btn">View All Vendors</a>
            </td>
        </tr>
    </tbody>
</table>