@model  AddVendorToLocationViewModel

@{
    ViewData["Title"] = "AddVendorToLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Vendor To Location</h2>

<form asp-action="AddVendorToLocation" method="post" class="form-group">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" asp-for="Username" />
    </div>
    <div class="form-group">
        <label>Location</label>
        <select class="form-control" asp-for="LocationId">
            @foreach (var locationId in Model.Locations.Keys)
            {
                string locationName = Model.Locations[locationId];
                <option value="@locationId">@locationName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" value="Add" />
    </div>
</form>