@model Dictionary<string, string>

@{
    ViewData["Title"] = "Create Location Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Location Manager</h2>

<form asp-action="CreateLocationManager" method="post" class="form-group">
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" />
    </div>
    <div class="form-group">
        <label>Location</label>
        <select class="form-control" name="locationId">
            @foreach (var locationId in Model.Keys)
            {
                string locationName = Model[locationId];
                <option value="@locationId">@locationName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control" />
    </div>
</form>