<div class="container">
    <div class="col-md-4">
        <p class="h1 text-center">Users</p>
        <div class="btn-group-vertical center-block">
            <a asp-action="CreateRole" class="btn btn-primary" role="button">Create Role</a>
            <a asp-action="AddUserToRole" class="btn btn-primary" role="button">Add Users To Role</a>
        </div>
    </div>
    <div class="col-md-4">
        <p class="h1 text-center">Vendors</p>
        <div class="btn-group-vertical center-block">
            <a asp-action="CreateVendor" class="btn btn-primary" role="button">Create Vendor</a>
            <a asp-action="VendorsList" class="btn btn-primary" role="button">View All Vendors</a>
        </div>
    </div>
    <div class="col-md-4">
        <p class="h1 text-center">Locations</p>
        <div class="btn-group-vertical center-block">
            <a asp-action="ViewLocations" class="btn btn-primary" role="button">View Locations</a>
            <a asp-action="CreateLocationManager" class="btn btn-primary" role="button">Create Location Manager</a>
            <a asp-action="AddVendorToLocation" class="btn btn-primary" role="button">Add Vendor To Location</a>
        </div>
    </div>
</div>