@model LocationManagerIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="col-lg-6">
        <p class="h1 text-center">Options</p>
        <div class="btn-group-vertical center-block">
            <a asp-action="AddVendor" class="btn btn-primary">Add Vendor To Location</a>
            <a asp-action="CreateAd" class="btn btn-primary">Create Ad</a>
            <a asp-action="ViewAds" class="btn btn-primary">View Ads</a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Name</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Vendors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="VendorDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="RemoveVendor" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
